body {
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh;
  background: #011d03;
  margin: 0;
  padding: 20px;
  color: #00dc16;
}

#title {
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  color: #00dc16;
  text-align: center;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
  margin-bottom: 10px;
}

.config {
  background-color: #011d03;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #00dc16;
}

.config label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #00dc16;
}

.config input,
.config select {
  background-color: #011d03;
  color: #00dc16;
  border: 1px solid #00dc16;
  padding: 5px;
  font-size: 14px;
  outline: none;
  margin-top: 5px;
}

.config input::placeholder {
  color: #00dc1677;
}

#startBtn {
  background-color: #011d03;
  color: #00dc16;
  border: 2px solid #00dc16;

  font-weight: bold;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

#startBtn:hover {
  background-color: #00dc16;
  color: #011d03;
}

.scoreboard {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.grid {
  display: grid;
  justify-content: center;
  gap: 2px;
  margin: 0 auto;
  max-width: 100vw;
}

.cell {
  font-family: 'Press Start 2P';
  width: 60px;
  height: 60px;
  background-color: #011d03;
  border: 3px solid #00dc16;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;
}

.cell.x {
  color: #e63946;
}

.cell.o {
  color: #1577ff;
}

.cell:hover {
  background-color: #5fff74;
}

.status {
  margin-bottom: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#winner {
  background-color: #00dc16;
  font-weight: bold;
}

#winnerLine {
  font-weight: bold;
  text-shadow: 0 0 8px #00dc16;
}

#resetBtn {
  padding: 6px 12px;
  font-size: 18px;
  cursor: pointer;
  background-color: #011d03;
  color: #00dc16;
  border: 2px solid #00dc16;
}

#resetBtn:hover {
  background-color: #00dc16;
  color: rgba(0, 0, 0, 0.5);
}

.winner {
  background-color: #00dc16;
  font-weight: bold;
}

/* Popup háttér */
.popup {
  display: none; /* Kezdetben rejtve */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #00dc16;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Popup tartalom */
.popup-content {
  font-size: 18px;
}

/* Popup gomb */
.popup button {
  margin-top: 10px;
  padding: 10px;
  background-color: #011d03;
  color: #00dc16;
  border: none;
  cursor: pointer;
}

.popup button:hover {
  background-color: #45a049;
}


